@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

:root {
  /* Color Palette dari Design System */
  --primary: #4C9100;
  --primary-light: #91C851;
  --secondary: #FD9D24;
  --background: #EDF4E6;
  --surface: #FFFFFF;
  --text-main: #000000;
  --text-gray: #737373;
  --border-color: #E5E7EB;
  
  /* Typography Sizes (Mobile) */
  --font-big: 26px;
  --font-medium: 24px;
  --font-small: 20px;
  --font-body: 15px;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--background);
  color: var(--text-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center; /* Memastikan tampilan mobile berada di tengah jika dibuka di layar lebar */
}

* {
  box-sizing: border-box;
}